body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #222;
}

nav {
  display: flex;
  background-color: #031125e0;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

ul {
  list-style-type: none;
}

.button {
  display: flex;
  flex-direction: column;
}
